<br>
<button id="button" type="button" value="id=1" {{on "click" (fn this.reqestFun 1 )}}>
    c_ip
</button>
<button id="button" type="button" value="id=2" {{on "click" (fn this.reqestFun 2 )}}>
    C method
</button>
<button id="button" type="button" value="id=2" {{on "click" (fn this.reqestFun 4 )}}>
    Time Taken
</button>
<button id="button" type="button" value="id=2" {{on "click" (fn this.reqestFun 3 )}}>
    CS Bytes
</button>
<br>
{{this.num}}
<br>
<div id="container1">
</div>
<br>
<div id="table">
</div>


<table class="tableClass" width="50%">
    <tr class="tableClass">
        <th class="tableClass">{{this.head.key}}</th>
        <th class="tableClass">{{this.head.value}}</th>
    </tr>
    {{#each this.data as |myObjs|}}
    <tr class="tableClass">
        <td class="tableClass">{{myObjs.key}}</td>
        <td class="tableClass">{{myObjs.value}}</td>
    </tr>
    {{/each}}
</table>